.account-layout{
  sidebar{
    ul{
      padding:0;
      list-style-type: none;

      ul{
        margin-bottom: 25px;
        li:hover,li.active{
          background-color:$color-light_blue_2;
        }
      }

      b{
        font-size:15px;
        margin-bottom: 6px;
        display: block;
      }

      a{
        font-size:13px;
        color:$color-indicator-bg;
        width:100%;
        display: block;
      }

      li{
        b, li{
          min-height: 27px;
          line-height: 27px;
          padding-left:22px;
          list-style-type: none;
        }
      }
    }
  }
  .fields{
    label{
      font-weight: normal;
      line-height: 41px;
    }

    .for-form{
      padding-top: 14px;
      padding-bottom: 11px;
      font-size: 13px;
      line-height: 13px;
    }

    .uploader{
      line-height: 50px;

      .action-container{
        margin:0 15px;
      }

      .uploader-image-panel{
        border: 1px solid $color-darkly_white;

        .cancel-button{
          position: relative;
          top: 17px;
          right: 17px;
          cursor: pointer;
        }
      }
    }

  }

  .integrations-buttons{
    height: 44px;
    line-height: 44px;
    border: 1px solid $color-darkly_white;
    i{
      vertical-align: middle;
      cursor:pointer;
    }
  }

  .subscription-panel{
    padding:10px 0;
    @include border-radius(3px);
  }

  .credit-card{
    line-height: 43px;
    .input-container{
      input{
        padding-left:60px;
      }
      i{
        position: absolute;
        top: 5px;
        left: 20px;
      }
    }
  }

  .subscriptions-list{
    td:first-of-type{
      width:45%;
    }
    td:nth-child(2){
      width:30%;
    }
  }

  .required-fields{
    .required-field{
      label{
        margin-left: 60%;
      }
      span{
        position: relative;
        left: -110%;
        display: block;
        width: 170px;
        padding-right: 50px;
        text-align: right;
      }
    }
  }

  .user-permissions{
    td,th{
      padding-left:8px;
      padding-right: 8px;
    }
  }

  .account-action-panel{
    .account-action-panel-row{
      .toolbar-panel-cell:last-of-type{
        line-height: 21px;
        vertical-align: top;
        margin-right: -14px;
      }
    }
  }

  .account-profile-user{
    .account-profile-user-container{
      width: 68px;
      margin: 0 auto;
      position: relative;

      i{
        position: absolute;
        top: 23px;
        left: 88px;
     }
    }
  }

  .account-profile-fields{
    button{
      width:105px;
    }
  }

  .account-password-fields{
    button{
      width:120px;
    }
  }

  .account-profile-fields,.account-password-fields {
    label,input{
      font-size:13px;
    }
    .toolbar-panel-small{
      .toolbar-panel-cell{
        margin-right:5px;
      }
    }
  }

  .account-servicies{
    .account-service-logo{
      height:26px;
    }
  }

}