.account-layout sidebar ul {
  padding: 0;
  list-style-type: none; }
  .account-layout sidebar ul ul {
    margin-bottom: 25px; }
    .account-layout sidebar ul ul li:hover, .account-layout sidebar ul ul li.active {
      background-color: #f2fbff; }
  .account-layout sidebar ul b {
    font-size: 14px;
    margin-bottom: 6px;
    display: block; }
  .account-layout sidebar ul a {
    font-size: 13px;
    color: #00a8ff;
    width: 100%;
    display: block; }
  .account-layout sidebar ul li b, .account-layout sidebar ul li li {
    min-height: 27px;
    line-height: 27px;
    padding-left: 22px;
    list-style-type: none; }
.account-layout .fields label {
  font-weight: normal;
  line-height: 41px; }
.account-layout .fields .for-form {
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 13px;
  line-height: 13px; }
.account-layout .fields .uploader {
  line-height: 50px; }
  .account-layout .fields .uploader .action-container {
    margin: 0 15px; }
  .account-layout .fields .uploader .uploader-image-panel {
    border: 1px solid #f1f4f8; }
    .account-layout .fields .uploader .uploader-image-panel .cancel-button {
      position: relative;
      top: 17px;
      right: 17px;
      cursor: pointer; }
.account-layout .integrations-buttons {
  height: 44px;
  line-height: 44px;
  border: 1px solid #f1f4f8; }
  .account-layout .integrations-buttons i {
    vertical-align: middle;
    cursor: pointer; }
.account-layout .subscription-panel {
  padding: 10px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
.account-layout .credit-card {
  line-height: 43px; }
  .account-layout .credit-card .input-container input {
    padding-left: 60px; }
  .account-layout .credit-card .input-container i {
    position: absolute;
    top: 5px;
    left: 20px; }
.account-layout .subscriptions-list td:first-of-type {
  width: 45%; }
.account-layout .subscriptions-list td:nth-child(2) {
  width: 30%; }
.account-layout .required-fields .required-field label {
  margin-left: 60%; }
.account-layout .required-fields .required-field span {
  position: relative;
  left: -110%;
  display: block;
  width: 170px;
  padding-right: 50px;
  text-align: right; }
.account-layout .user-permissions td, .account-layout .user-permissions th {
  padding-left: 8px;
  padding-right: 8px; }
.account-layout .account-action-panel .account-action-panel-row .toolbar-panel-cell:last-of-type {
  line-height: 21px;
  vertical-align: top; }
.account-layout .account-profile-user .account-profile-user-container {
  width: 68px;
  margin: 0 auto;
  position: relative; }
  .account-layout .account-profile-user .account-profile-user-container i {
    position: absolute;
    top: 23px;
    left: 88px; }
.account-layout .account-profile-fields button {
  width: 105px; }
.account-layout .account-password-fields button {
  width: 120px; }
.account-layout .account-profile-fields label, .account-layout .account-profile-fields input, .account-layout .account-password-fields label, .account-layout .account-password-fields input {
  font-size: 13px; }
.account-layout .account-profile-fields .toolbar-panel-small .toolbar-panel-cell, .account-layout .account-password-fields .toolbar-panel-small .toolbar-panel-cell {
  margin-right: 5px; }
.account-layout .account-servicies .account-service-logo {
  height: 26px; }

/*# sourceMappingURL=account.css.map */
