.apps-layout{

  article{
    padding-top:0;
  }

  .row div:first-of-type {
    padding:0;
  }

  p, h1{
    margin:0;
  }

  p{
    color:#8493a7;
    font-size: 14px;
    line-height: 14px;
    margin-top:34px;
   }

  .for-form{
    padding-top: 14px;
    padding-bottom: 11px;
    font-size: 13px;
    line-height: 13px;
  }

  label{
    font-size:13px;
    font-weight: normal;
    line-height: 41px;
  }

  .uploader{
    line-height: 50px;
    span{
      margin:0 24px;
    }
    .btn{
      padding: 9px 16px;
    }
    .cancel-button{
      position: relative;
      top: 5px;
      margin: 0 16px 0 14px;
      cursor: pointer;
    }
    .uploader-image-panel{
      &::after{
        content:'';
        background-image: url(../images/spritesheet-apps.png);
        background-position: -15px 0;
        width:15px;
        height:15px;
      }
      img{
        max-width:40px;
      }
    }
    .uploader-image-panel, .uploader-action-panel{
      float:left;
    }
  }

  section{
     padding:46px 0;

    &.panel-light-bg{
      background-color: #f2fbff;
      padding-bottom: 32px;

      p{
        color:$color-indicator-bg;
        margin-top:20px;
        font-size: 13px;
      }

      button{
        padding: 16px 37px;
      }
    }
    &:last-of-type{
      border-top: 1px solid #e8eaef;
      padding-bottom: 0;
    }

    ul{
      padding:0;
      margin-top:44px;

      li{
        &.row{
          margin:0;
        }

        list-style: none;
        padding: 23px 20px;

        .btn{
          font-size: 12px;
          padding: 11px 11px;
          background:$color-validation_error;
        }

        &:nth-child(odd){
          background:#f7f9fc;
        }

        span{
          line-height: 31px;
          font-size:14px;
        }
      }
    }
  }

  .app-toolbar{
    margin-top:10px;
    .btn{
      padding: 11px 19px;
    }
  }

  .app-reg{

    .fields{
      margin-top:45px;
      margin-bottom:45px;

      .validation-success ~ .sprite-app, .validation-error ~ .sprite-app{
        position: absolute;
        right: -1px;
        bottom: 15px;
      }

      .validation-success{
        border:1px solid $color-green;
        color:$color-green;
      }

      .validation-error{
        border:1px solid $color-validation_error;
        &::-webkit-input-placeholder { color: $color-validation_error }
        &::-moz-placeholder          { color: $color-validation_error }
        &:-moz-placeholder           { color: $color-validation_error }
        &:-ms-input-placeholder      { color: $color-validation_error }
      }

      div:last-of-type .btn.registration{
        padding: 20px 64px;
        margin-top: 23px;
      }

      .uploader .table-panel{
        margin:0 auto;
      }
    }
  }

  .app-view{
    section > img{
      margin:46px 0;
    }

    .row:last-of-type{
      padding: 20px 64px;
      margin-top: 20px;
      .btn{
        padding:18px 24px;
        margin-bottom: 10px;
      }
    }

    .text-static{
      line-height: 41px;
    }

  }
}
@media (max-width: 768px) {
  .apps-layout {
    section {
      .btn.btn-bg {
        padding: 22px;
      }
    }
  }
  .app-reg{
    .uploader-image-panel, .uploader-action-panel{
      width:100%;
    }
  }
}

@media (min-width: 768px) {
  .apps-layout {
    section ul li {
      span{
        float:left
      }
      .btn{
        float:right;
      }
    }

    .app-view{
      .row:last-of-type{
        div:first-of-type{
          text-align: right;
        }
        div:last-of-type{
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .apps-layout {
    .row div:first-of-type{
      text-align: center;
    }
    .fields{
        .uploader{
          text-align: center;
        }
        .row {
          .for-form {
            &.validation-success ~ i,&.validation-error ~ i{
              right:5%;
            }
          }
        }
      }
    .row div:last-of-type .for-form{
      margin: 0 7%;
      width: 86%;
    }
  }
}