.apps-layout article {
  padding-top: 0; }
.apps-layout .row div:first-of-type {
  padding: 0; }
.apps-layout p, .apps-layout h1 {
  margin: 0; }
.apps-layout p {
  color: #8493a7;
  font-size: 13px;
  line-height: 13px;
  margin-top: 34px; }
.apps-layout .for-form {
  padding-top: 14px;
  padding-bottom: 11px;
  font-size: 13px;
  line-height: 13px; }
.apps-layout label {
  font-size: 12px;
  font-weight: normal;
  line-height: 41px; }
.apps-layout .uploader {
  line-height: 50px; }
  .apps-layout .uploader span {
    margin: 0 28px; }
  .apps-layout .uploader .btn {
    padding: 9px 16px; }
  .apps-layout .uploader .cancel-button {
    position: relative;
    top: 5px;
    margin: 0 16px 0 14px;
    cursor: pointer; }
  .apps-layout .uploader .uploader-image-panel::after {
    content: '';
    background-image: url(../images/spritesheet-apps.png);
    background-position: -15px 0;
    width: 15px;
    height: 15px; }
  .apps-layout .uploader .uploader-image-panel img {
    max-width: 40px; }
  .apps-layout .uploader .uploader-image-panel, .apps-layout .uploader .uploader-action-panel {
    float: left; }
.apps-layout section {
  padding: 46px 0; }
  .apps-layout section.panel-light-bg {
    background-color: #f2fbff;
    padding-bottom: 32px; }
    .apps-layout section.panel-light-bg p {
      color: #00a8ff;
      margin-top: 20px;
      font-size: 11px; }
    .apps-layout section.panel-light-bg button {
      padding: 16px 37px; }
  .apps-layout section:last-of-type {
    border-top: 1px solid #e8eaef;
    padding-bottom: 0; }
  .apps-layout section ul {
    padding: 0;
    margin-top: 44px; }
    .apps-layout section ul li {
      list-style: none;
      padding: 23px 20px; }
      .apps-layout section ul li.row {
        margin: 0; }
      .apps-layout section ul li .btn {
        font-size: 9px;
        padding: 11px 11px;
        background: #ee665a; }
      .apps-layout section ul li:nth-child(odd) {
        background: #f7f9fc; }
      .apps-layout section ul li span {
        line-height: 31px;
        font-size: 11px; }
.apps-layout .app-toolbar {
  margin-top: 10px; }
  .apps-layout .app-toolbar .btn {
    padding: 11px 19px; }
.apps-layout .app-reg .fields {
  margin-top: 45px;
  margin-bottom: 45px; }
  .apps-layout .app-reg .fields .validation-success ~ .sprite-app, .apps-layout .app-reg .fields .validation-error ~ .sprite-app {
    position: absolute;
    right: -14px;
    top: 12px; }
  .apps-layout .app-reg .fields .validation-success {
    border: 1px solid #00bb27;
    color: #00bb27; }
  .apps-layout .app-reg .fields .validation-error {
    border: 1px solid #ee665a; }
    .apps-layout .app-reg .fields .validation-error::-webkit-input-placeholder {
      color: #ee665a; }
    .apps-layout .app-reg .fields .validation-error::-moz-placeholder {
      color: #ee665a; }
    .apps-layout .app-reg .fields .validation-error:-moz-placeholder {
      color: #ee665a; }
    .apps-layout .app-reg .fields .validation-error:-ms-input-placeholder {
      color: #ee665a; }
  .apps-layout .app-reg .fields .row:last-of-type .btn {
    padding: 20px 64px;
    margin-top: 23px; }
.apps-layout .app-view section > img {
  margin: 46px 0; }
.apps-layout .app-view .row:last-of-type {
  padding: 20px 64px;
  margin-top: 20px; }
  .apps-layout .app-view .row:last-of-type .btn {
    padding: 18px 24px;
    margin-bottom: 10px; }
.apps-layout .app-view .text-static {
  line-height: 41px; }

@media (max-width: 768px) {
  .apps-layout section .btn.btn-bg {
    padding: 22px; }

  .app-reg .uploader-image-panel, .app-reg .uploader-action-panel {
    width: 100%; } }
@media (min-width: 768px) {
  .apps-layout section ul li span {
    float: left; }
  .apps-layout section ul li .btn {
    float: right; }
  .apps-layout .app-view .row:last-of-type div:first-of-type {
    text-align: right; }
  .apps-layout .app-view .row:last-of-type div:last-of-type {
    text-align: left; } }
@media (max-width: 992px) {
  .apps-layout .row div:first-of-type {
    text-align: center; }
  .apps-layout .fields .uploader {
    text-align: center; }
  .apps-layout .fields .row .for-form.validation-success ~ i, .apps-layout .fields .row .for-form.validation-error ~ i {
    right: 5%; }
  .apps-layout .row div:last-of-type .for-form {
    margin: 0 7%;
    width: 86%; } }

/*# sourceMappingURL=apps.css.map */
