.dashboard-layout .user-dashboard h1 {
  margin: 70px 0 65px 0; }
.dashboard-layout .user-dashboard .block-welcome {
  padding: 65px 52px;
  max-width: 752px;
  margin: 0 auto; }
  .dashboard-layout .user-dashboard .block-welcome p {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px; }
  .dashboard-layout .user-dashboard .block-welcome p:last-of-type {
    margin-bottom: 0; }
.dashboard-layout .user-dashboard-project {
  padding-top: 0; }
.dashboard-layout .user-dashboard-project .button-group-services {
  cursor: pointer;
  position: absolute;
  top: 2px; }
.dashboard-layout .user-dashboard-project .panel-darkly-white {
  padding: 0;
  margin-bottom: 20px; }
  .dashboard-layout .user-dashboard-project .panel-darkly-white .project-toolbar {
    padding: 12px 17px 13px 26px;
    border-bottom: 2px solid #e8eaef; }

/*# sourceMappingURL=dashboard.css.map */
