.dashboard-layout{
  .user-dashboard{
    h1{
      margin: 70px 0 65px 0;
    }
    .block-welcome{
      padding:65px 52px;
      max-width: 752px;
      margin: 0 auto;
      p{
        font-size:14px;
        line-height: 20px;
        margin-bottom: 30px;
      }
      p:last-of-type{
        margin-bottom: 0;
      }
    }
  }
  .user-dashboard-project{
    padding-top:0;
  }

  .user-dashboard-project{
    .button-group-services{
      cursor:pointer;
      position: absolute;
      top:2px;
    }

    .panel-darkly-white{
      padding:0;
      margin-bottom: 20px;
      .project-toolbar{
        padding: 12px 17px 13px 26px;
        border-bottom: 2px solid $color-darkly_grey_1;
      }
    }
  }

}

