.project-layout .toolbar-panel .btn-edit-title {
  cursor: pointer;
  position: relative;
  top: 5px; }
.project-layout .toolbar-panel .toolbar-panel-cell {
  margin-top: 0; }
.project-layout article {
  margin-top: 20px;
  padding: 0; }
  .project-layout article .table-legends tr {
    background-color: transparent !important; }
    .project-layout article .table-legends tr td {
      padding: 6px 10px; }
  .project-layout article .statistics {
    min-height: 284px; }
    .project-layout article .statistics .statistics-box {
      border-right: 2px solid #e8eaef; }
      .project-layout article .statistics .statistics-box:last-of-type {
        border-right: none; }
      .project-layout article .statistics .statistics-box .square {
        display: table;
        border-top: none;
        border-left: none;
        min-height: 115px;
        border: 1px solid #e8eaef; }
        .project-layout article .statistics .statistics-box .square.no-border-right {
          border-right: none; }
        .project-layout article .statistics .statistics-box .square .inner {
          display: table-cell;
          vertical-align: middle; }
          .project-layout article .statistics .statistics-box .square .inner p {
            margin-bottom: 8px; }
      .project-layout article .statistics .statistics-box .legend {
        text-align: left;
        padding: 20px;
        position: absolute;
        bottom: 0; }
    .project-layout article .statistics .box-legend-table h3 {
      margin-bottom: 0; }
    .project-layout article .statistics .box-legend-table thead {
      font-size: 12px; }
      .project-layout article .statistics .box-legend-table thead th {
        height: 48px; }
    .project-layout article .statistics .box-legend-table td:first-of-type, .project-layout article .statistics .box-legend-table th, .project-layout article .statistics .box-legend-table td:nth-child(3), .project-layout article .statistics .box-legend-table td:nth-child(4) {
      padding: 0; }
.project-layout .project2 .btn {
  padding: 24px 68px;
  font-size: 15px; }
.project-layout .project2 ol {
  padding-left: 50px; }
  .project-layout .project2 ol li {
    color: #00a8ff;
    padding: 8px 0 8px 24px; }
    .project-layout .project2 ol li span {
      color: #8090a2;
      line-height: 22px; }
      .project-layout .project2 ol li span b {
        font-weight: normal; }
    .project-layout .project2 ol li ul {
      list-style: none;
      padding: 15px 0 0 0; }
      .project-layout .project2 ol li ul li {
        padding: 8px 12px; }
      .project-layout .project2 ol li ul li:before {
        content: "-";
        position: relative;
        left: -10px; }
.project-layout .project3 .panel-filters .wrapper-full {
  padding-left: 0; }
.project-layout .project3 .panel-filters .tags {
  line-height: 20px; }
  .project-layout .project3 .panel-filters .tags a {
    margin: 0 5px;
    color: #7f8fa3; }
    .project-layout .project3 .panel-filters .tags a.active {
      color: #00a8ff; }
.project-layout .project3 .panel-filters .filter-participant .filter-item {
  background-color: #f8f9fb;
  padding: 0 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .project-layout .project3 .panel-filters .filter-participant .filter-item.active {
    background-color: #f2fbff; }
  .project-layout .project3 .panel-filters .filter-participant .filter-item label {
    width: 100%;
    margin-bottom: 0; }
    .project-layout .project3 .panel-filters .filter-participant .filter-item label::before, .project-layout .project3 .panel-filters .filter-participant .filter-item label::after {
      top: 17px; }
    .project-layout .project3 .panel-filters .filter-participant .filter-item label::after {
      margin-top: 3px; }
  .project-layout .project3 .panel-filters .filter-participant .filter-item .toolbar-panel {
    line-height: 43px;
    padding-left: 10px; }
    .project-layout .project3 .panel-filters .filter-participant .filter-item .toolbar-panel img {
      height: 35px; }
.project-layout .project4 .wrapper {
  padding: 36px 0; }
.project-layout .project4 p {
  line-height: 18px; }
  .project-layout .project4 p b {
    color: #00a8ff;
    font-weight: normal; }
.project-layout .project4 ul {
  overflow: hidden;
  padding: 0;
  border-top: 1px solid #e8eaef;
  border-bottom: 1px solid #e8eaef; }
  .project-layout .project4 ul i {
    vertical-align: middle;
    cursor: pointer; }
.project-layout .project4 li {
  list-style-type: none;
  min-height: 52px;
  line-height: 51px;
  clear: both; }
  .project-layout .project4 li div {
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block; }
    .project-layout .project4 li div.separator-item {
      position: relative; }
      .project-layout .project4 li div.separator-item .separator::after {
        content: ' \25CF';
        color: #7f8fa3;
        font-size: 7px;
        position: absolute;
        right: -15px;
        top: 0; }
.project-layout .project4 .select.select-primary select {
  font-size: 12px; }
.project-layout .project4 .code-panel {
  padding: 15px;
  color: #00a8ff;
  min-height: 235px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.project-layout .project4 .recruit-title {
  margin-top: 70px; }
  .project-layout .project4 .recruit-title h3 {
    position: relative;
    top: -10px;
    left: -10px; }
.project-layout .project4 section.panel-light-blue_2 {
  padding: 46px 0; }
  .project-layout .project4 section.panel-light-blue_2 .btn {
    padding: 18px 20px; }
.project-layout .project5 .sidebar .table tbody td {
  padding: 10px 20px; }
.project-layout .project5 .sidebar .settings-panel .help-available {
  position: relative;
  top: 4px;
  left: 4px;
  cursor: pointer; }
.project-layout .project5 .status-schema-container .status-schema-item {
  min-height: 35px;
  line-height: 35px;
  margin-bottom: 10px;
  padding: 0 20px;
  background-color: #f7f9fc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .project-layout .project5 .status-schema-container .status-schema-item i.sprite-project-lock {
    position: relative;
    top: 1px; }
.project-layout .project6 {
  margin-left: 70px; }
  .project-layout .project6 .block.block-top.row {
    margin: 0;
    border-bottom: none; }
  .project-layout .project6 section.wrapper {
    margin-top: -20px; }
  .project-layout .project6 .content {
    margin-top: 0; }
  .project-layout .project6 .bug-tracker-bar {
    border: 1px solid #eaedf0;
    border-top: none;
    border-left: none;
    position: relative;
    min-height: 400px;
    margin-top: -20px;
    z-index: 1; }
    .project-layout .project6 .bug-tracker-bar .search-panel {
      background: #00a8ff; }
      .project-layout .project6 .bug-tracker-bar .search-panel.wrapper-full {
        padding: 16px 18px; }
      .project-layout .project6 .bug-tracker-bar .search-panel input[type="text"] {
        padding: 5px 6px;
        font-size: 10px;
        line-height: 11px; }
      .project-layout .project6 .bug-tracker-bar .search-panel .sprite-project-track-bar-search_2, .project-layout .project6 .bug-tracker-bar .search-panel .sprite-project-track-bar-search_1 {
        position: absolute;
        cursor: pointer;
        top: 0;
        right: -17px; }
      .project-layout .project6 .bug-tracker-bar .search-panel .sprite-project-collapse {
        cursor: pointer; }
    .project-layout .project6 .bug-tracker-bar .filters-panel {
      background: #f7f9fc;
      line-height: 34px; }
      .project-layout .project6 .bug-tracker-bar .filters-panel label {
        margin-right: 10px; }
      .project-layout .project6 .bug-tracker-bar .filters-panel .select, .project-layout .project6 .bug-tracker-bar .filters-panel select {
        width: 95%; }
      .project-layout .project6 .bug-tracker-bar .filters-panel select {
        margin-right: 6px;
        padding: 8px 24px 8px 4px;
        background: transparent;
        border-color: #e9ebf0;
        font-size: 9px !important; }
      .project-layout .project6 .bug-tracker-bar .filters-panel .btn {
        color: #858b95;
        padding: 6px 4px; }
    .project-layout .project6 .bug-tracker-bar .messages-panel {
      background-color: #fff; }
      .project-layout .project6 .bug-tracker-bar .messages-panel .message-item {
        line-height: 18px;
        padding: 14px 11px;
        border-width: 1px;
        border-style: solid;
        margin: 4px 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item label {
          display: inline-block; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item label::after, .project-layout .project6 .bug-tracker-bar .messages-panel .message-item label::before {
            margin: 11px 0; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item .toolbar-panel-cell {
          margin: 0;
          vertical-align: middle; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item > .toolbar-panel > .toolbar-panel-cell:first-of-type {
          width: 80%; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item > .toolbar-panel .toolbar-panel-cell.message-item-number {
          width: 15%; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item > .toolbar-panel .toolbar-panel-cell.message-item-text {
          width: 80%;
          margin-left: 10px; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item > .toolbar-panel .toolbar-panel-cell .toolbar-panel.messages-icons .toolbar-panel-cell {
          margin: 5px; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item > .toolbar-panel i {
          cursor: pointer; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-lime {
          border-color: #b6d356; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-lime label {
            color: #b6d356; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-blue {
          border-color: #00a8ff; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-blue label {
            color: #00a8ff; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-purple {
          border-color: #7975a2; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-purple label {
            color: #7975a2; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-pink {
          border-color: #e8abc7; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-pink label {
            color: #e8abc7; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-emerald {
          border-color: #4fc9ae; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-emerald label {
            color: #4fc9ae; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-green-light {
          border-color: #91ddaf; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-green-light label {
            color: #91ddaf; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-lime-light {
          border-color: #b6d356; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-lime-light label {
            color: #b6d356; }
        .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-red {
          border-color: #ef665a; }
          .project-layout .project6 .bug-tracker-bar .messages-panel .message-item.message-item-color-red label {
            color: #ef665a; }
  .project-layout .project6 .steps .step-number, .project-layout .project6 .steps .step-content {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .project-layout .project6 .steps .step-number {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: #2b333f;
    font-family: 'ProximaNovaBold'; }
  .project-layout .project6 .steps .step-content {
    background: #f1f4f8;
    padding: 8px 12px; }
  .project-layout .project6 .attachments .attachment-item {
    background: #f1f4f8;
    min-height: 92px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .project-layout .project6 .attachments .attachment-close {
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 21px; }
  .project-layout .project6 .attachments .attachment-new {
    cursor: pointer; }
  .project-layout .project6 .comments .comment-add-form .input-container input {
    padding: 6px 18px 6px 60px;
    font-family: 'ProximaNovaBold'; }
  .project-layout .project6 .comments .comment-add-form .input-container i {
    position: relative;
    top: -35px; }
  .project-layout .project6 .comments .comments-item {
    background-color: #f1f4f8;
    min-height: 106px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .project-layout .project6 .comments .comments-item .media-left img {
      border: 2px solid #d8dce1;
      border-radius: 38px; }
    .project-layout .project6 .comments .comments-item .comment-content {
      line-height: 18px; }
  .project-layout .project6 .activities .activity-item {
    border: 1px solid #e8eaef; }
  .project-layout .project6 .activities .activity-item-header {
    line-height: 22px; }
    .project-layout .project6 .activities .activity-item-header .list-info-inline {
      display: inline-block;
      margin-left: 15px;
      color: #98a5b5; }
  .project-layout .project6 .activities .wrapper-full {
    padding: 12px; }
  .project-layout .project6 .right-bar .table tr {
    background-color: transparent !important; }
  .project-layout .project6 .right-bar .table td {
    padding: 10px 15px 0 0; }
  .project-layout .project6 .right-bar select, .project-layout .project6 .right-bar .select {
    width: 100%; }
  .project-layout .project6 .right-bar .tags a {
    color: #7f8fa3;
    line-height: 22px; }

/*# sourceMappingURL=project.css.map */
