.project-layout{
  .toolbar-panel{
    .btn-edit-title{
      cursor:pointer;
      position: relative;
      top:5px;
    }
    .toolbar-panel-cell{
      margin-top:0;
    }
  }
  article{
    margin-top:20px;
    padding:0;

    .table-legends{
      tr{
        background-color:transparent!important;
        td{
          padding:6px 10px;
        }
      }
    }

    .statistics {
      min-height: 284px;

      .statistics-box{
        &:last-of-type{
          border-right: none;
        }

        border-right: 2px solid #e8eaef;

        .square{
            &.no-border-right{
              border-right:none;
            }

           .inner{
             display: table-cell;
             vertical-align: middle;
             p{
               margin-bottom: 8px;
             }
          }

          display: table;
          border-top: none;
          border-left: none;
          min-height: 115px;
          border:1px solid $color-darkly_grey_1;
        }

        .legend{
          text-align: left;
          padding: 20px;
          position: absolute;
          bottom: 0;
        }
      }

    .box-legend-table{
        h3{
          margin-bottom:0;
        }

        thead{
          font-size: 12px;
          th{
            height:48px;
          }
        }

        td:first-of-type,th, td:nth-child(3),td:nth-child(4){
          padding:0;
        }
      }
    }
  }

  .project2{
    .btn{
      padding:24px 68px;
      font-size: 15px;
    }
    ol{
      padding-left:50px;
      li{
        color:$color-indicator-bg;
        padding: 8px 0 8px 24px;
        span{
          color:$color-light_brown;
          line-height: 22px;
          b{
            font-weight: normal;
          }
        }
        ul{
          list-style: none;
          padding:15px 0 0 0;
          li{
            padding:8px 12px;
          }
          li:before{
            content:  "-";
            position: relative;
            left: -10px;
          }
        }
      }
    }
  }

  .project3{
    .panel-filters{
      .wrapper-full{
        padding-left:0;
      }
      .tags{
        line-height: 20px;
        a{
          margin:0 5px;
          font-size:13px;
          color:$color-light_brown_2;
          &.active{
            color:$color-indicator-bg;
          }
        }
      }
      .filter-participant{
        .filter-item{
          &.active{
            background-color: $color-light_blue_2;
          }
          background-color: $color-darkly_grey_2;
          padding:0 10px;
          margin-bottom: 10px;

          @include border-radius(3px);


          label{
            width:100%;
            margin-bottom: 0;
            &::before,&::after{
              top:17px;
            }
            &::after{
              margin-top:3px;
            }
          }
          .toolbar-panel{
            line-height: 43px;
            padding-left:10px;
            img{
              height:35px;
            }
          }
        }
      }
    }
  }

  .project4{
    .wrapper{
      padding: 36px 0;
    }
    p{
      line-height: 18px;
      b{
        color:$color-indicator-bg;
        font-weight: normal;
      }
    }
    ul{
      overflow: hidden;
      padding:0;
      border-top:1px solid $color-darkly_grey_1;
      border-bottom:1px solid $color-darkly_grey_1;
      i{
        vertical-align: middle;
        cursor:pointer;
      }
    }
    li{
      list-style-type: none;
      min-height:52px;
      line-height: 51px;
      clear: both;

      div{
        &.separator-item {
          position: relative;
          .separator {
            &::after {
              content: ' \25CF';
              color: $color-darkly_grey_3;
              font-size: 7px;
              position: absolute;
              right: -15px;
              top: 0;
            }
          }
        }
        margin-left:16px;
        margin-right: 16px;
        display: inline-block;
      }
    }

    .select.select-primary select{
      font-size:13px;
    }
    .code-panel{
      padding:15px;
      font-size:14px;
      color:$color-indicator-bg;
      min-height: 235px;
      @include border-radius(3px);
    }
    .recruit-title{
      h3{
        position: relative;
        top: -10px;
        left: -10px;
      }
      margin-top:70px;
    }
    section.panel-light-blue_2{
      .btn{
        padding: 18px 20px;
      }
      padding:46px 0;
    }
    .invite-beta-testers{
      width:307px;
    }
  }

  .project5{
    .sidebar{
      .table tbody td{
        padding: 10px 20px;
      }
      .settings-panel{
        .help-available{
          position: relative;
          top:4px;
          left:4px;
          cursor:pointer;
        }
      }
    }

    .status-schema-container{
      .status-schema-item{
        min-height: 35px;
        line-height: 35px;
        margin-bottom: 10px;
        padding:0 20px;
        background-color: $color-darkly_white;
        @include border-radius(3px);

        i.sprite-project-lock{
          position: relative;
          top:1px;
        }
      }
    }
  }

  .project6{
    margin-left:70px;

    .block.block-top.row{
      margin:0;
      border-bottom: none;
    }

    section.wrapper{
      margin-top: -20px;
    }

    .content{
      margin-top:0;
    }

    .content-wrapper{
      &::-webkit-scrollbar {
        display: none;
      }
      overflow-y: auto;
      max-height: calc(100vh - 52px);
    }

    .bug-tracker-bar{
      overflow-y: auto;
      max-height: calc(100vh - 52px);
      border:1px solid $color-darkly_white2;
      border-top:none;
      border-left:none;

      position: relative;
      min-height: 400px;
      margin-top:-20px;

      z-index:1;

      .search-panel{
        background:$color-indicator-bg;

        &.wrapper-full{
          padding:16px 18px;
        }

        input[type="text"]{
          padding:5px 6px;
          font-size:11px;
          line-height: 11px;
        }

        .sprite-project-track-bar-search_2,.sprite-project-track-bar-search_1{
          position: absolute;
          cursor: pointer;
          top: 0;
          right: -17px;
        }

        .sprite-project-collapse{
          cursor: pointer;
        }

      }

      .filters-panel{
        background: $color-darkly_white;
        line-height: 34px;
        label{
          margin-right: 10px;
        }

        .select, select{
          width:95%;
        }

        select{
          margin-right: 6px;
          padding: 8px 24px 8px 4px;
          background:transparent;
          border-color: $color-darkly_white2;
          font-size:11px!important;
        }

        .btn{
          color:$color-light_brown;
          padding: 6px 4px;
        }
      }

      .messages-panel{
        background-color:$color-white;

        .message-item{
          line-height: 18px;
          padding:14px 11px;

          border-width: 1px;
          border-style: solid;

          margin: 4px 5px;
          @include border-radius(3px);

          label{
            display: inline-block;
            &::after,&::before{
              margin:11px 0;
            }
          }

          .toolbar-panel-cell{
            margin:0;
            vertical-align: middle;
          }

          > .toolbar-panel{
            .toolbar-panel-cell{
              &.message-item-number{
                width:15%;
              }
              &.message-item-text{
                width:80%;
                margin-left:10px;
              }

              .toolbar-panel{
                &.messages-icons{
                  .toolbar-panel-cell{
                    margin:5px;
                  }
                }
              }
            }
            i{
              cursor:pointer;
            }
          }


          &.message-item-color-lime{
            border-color:$color-lime_2;
            label{
              color:$color-lime_2;
            }
          }
          &.message-item-color-blue{
            border-color:$color-indicator-bg;
            label{
              color:$color-indicator-bg;
            }
          }
          &.message-item-color-purple{
            border-color:$color-purple;
            label{
              color:$color-purple;
            }
          }
          &.message-item-color-pink{
            border-color:$color-pink;
            label{
              color:$color-pink;
            }
          }
          &.message-item-color-emerald{
            border-color:$color-lime;
            label{
              color:$color-lime;
            }
          }
          &.message-item-color-green-light{
            border-color:$color-light_green_5;
            label{

              color:$color-light_green_5;
            }
          }

          &.message-item-color-lime-light{
            border-color:$color-lime_2;
            label{
              color:$color-lime_2;
            }
          }
          &.message-item-color-red{
            border-color:$color-light_red_2;
            label{
              color:$color-light_red_2;
            }
          }
        }
      }
    }

    .steps{
      .step-number,.step-content{
        @include border-radius(3px);
      }

      .step-number{
        width:30px;
        height:30px;
        line-height: 30px;
        color:$color-white;
        background:$color-violet;
        font-family:$font-proxima-nova-bold;
      }

      .step-content{
        background:$color-darkly_white;
        padding:8px 12px;
      }
    }

    .attachments{
      .attachment-item{
        background:$color-darkly_white;
        min-height: 92px;
        @include border-radius(3px);
      }
      .attachment-close{
        cursor:pointer;
        position: absolute;
        top: 6px;
        right: 21px;
      }
      .attachment-new{
        cursor:pointer;
      }

    }

    .comments{
      .comment-add-form{
        .input-container{
          input{
            margin-left: 7px;
            padding:6px 18px 6px 60px;
            font-family: $font-proxima-nova-bold;
          }
          i{
            position: relative;
            top: -35px;
          }
        }
      }
      .comments-item{
        background-color:$color-darkly_white;
        min-height: 106px;

        .media-left{
          img{
            border:2px solid $color-darkly_grey_4;
            border-radius:38px;
          }
        }

        .comment-content{
          line-height: 18px;
        }

        @include border-radius(3px);
      }
    }

    .activities{
      .activity-item{
        border: 1px solid $color-darkly_grey_1;
      }
      .activity-item-header{
        line-height: 22px;
        .list-info-inline{
          display: inline-block;
          margin-left:15px;
          color:$color-darkly_grey_3;
        }
      }

      .wrapper-full{
        padding:12px;
      }
    }

    .right-bar{
      .table{
        tr{
          background-color: transparent !important;
        }
        td{
          padding:10px 15px 0 0;
        }
      }

      select,.select{
        width:100%;
      }

      .tags{
        a{
          color:$color-light_brown_2;
          line-height: 22px;
        }
      }
    }
  }
}