.sprite-block{
    display: block!important;
    margin:0 auto;
}

.sprite {
    background-image: url(../images/spritesheet.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.sprite-sidebar{
    background-image: url(../images/sprite-sidebar.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.sprite-dialogs {
    background-image: url(../images/spritesheet-dialogs.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.sprite-app{
    background-image: url(../images/spritesheet-apps.png);
    display: inline-block;
    background-repeat: no-repeat;
    width:15px;
    height:15px;
}

.sprite-dashboard{
    background-image: url(../images/spritesheet-dashboard.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.sprite-project{
    background-image: url(../images/spritesheet-project.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.sprite-account{
    background-image: url(../images/spritesheet-account.png);
    display: inline-block;
    background-repeat: no-repeat;
}

.sprite-apps {
    width: 32px;
    height: 32px;
    background-position: -71px -14px ;
}

.sprite-arrow-down {
    width: 5px;
    height: 3px;
    background-position: -182px -156px;
}

.sprite-arrow-down-white {
    width: 5px;
    height: 3px;
    background-position: -209px -156px;
}

/* sidebar sprites 48 - 32 66%*/

.sprite-sidebar-bug {
    width: 35px;
    height: 35px;
    background-position: -1px -37px;
}

.sprite-sidebar-users {
    width: 35px;
    height: 34px;
    background-position: -1px -181px;
}

.sprite-sidebar-chat {
    width: 35px;
    height: 32px;
    background-position: -1px -106px;
}

.sprite-sidebar-dash {
    width: 32px;
    height: 32px;
    background-position: -3px -1px;
}

.sprite-sidebar-sdk {
    width: 32px;
    height: 36px;
    background-position: -1px -140px;
}

.sprite-sidebar-settings {
    width: 34px;
    height: 35px;
    background-position: -1px -217px;
}

.sprite-sidebar-test {
    width: 33px;
    height: 32px;
    background-position: -1px -73px;
}

.sprite-sidebar-expand {
    width: 32px;
    height: 32px;
    background-position: -2px -254px;
}

/* sidebar sprites 48 - 32 66%*/


.sprite-close {
    width: 17px;
    height: 17px;
    background-position: -233px -120px;
}

.sprite-collapse-grey {
    width: 17px;
    height: 17px;
    background-position: -233px -148px;
}

.sprite-comment {
    width: 20px;
    height: 20px;
    background-position: -289px -117px;
}

.sprite-computer {
    width: 272px;
    height: 128px;
    background-position: -184px -174px;
}

.sprite-illu1 {
    width: 127px;
    height: 104px;
    background-position: -369px -3px;
}

.sprite-illu2 {
    width: 132px;
    height: 135px;
    background-position: -24px -75px;
}

.sprite-illu3 {
    width: 145px;
    height: 88px;
    background-position: -188px -14px;
}

.sprite-image {
    width: 17px;
    height: 17px;
    background-position: -261px -120px;
}

.sprite-image-grey {
    width: 17px;
    height: 19px;
    background-position: -261px -146px;
}

.sprite-logo {
    width: 43px;
    height: 50px;
    background-position: -7px -3px;
}

.sprite-move {
    width: 15px;
    height: 15px;
    background-position: -524px -21px;
}

.sprite-move-white {
    width: 15px;
    height: 15px;
    background-position: -524px -5px;
}

.sprite-plus {
    width: 8px;
    height: 8px;
    background-position: -209px -123px;
}

.sprite-plus-white {
    width: 8px;
    height: 8px;
    background-position: -322px -123px;
}

.sprite-user {
    width: 34px;
    height: 34px;
    background-position: -126px -14px;
}

.sprite-dialogs-bit {
    width: 22px;
    height: 26px;
    background-position: -2px -2px;
}

.sprite-dialogs-checkbox {
    width: 8px;
    height: 6px;
    background-position: -37px -5px;
}

.sprite-dialogs-git {
    width: 22px;
    height: 22px;
    background-position: -37px -2px;
}

.sprite-dialogs-logo {
    width: 50px;
    height: 58px;
    background-position: -59px 2px;
}

.sprite-app-uploader-cancel{
    background-position: -15px 0;
}

.sprite-app-error{
    background-position: -30px 0;
}

.sprite-dashboard-logo{
    width:265px;
    height:139px;
}

.sprite-dashboard-arrow{
    width:8px;
    height:5px;
    background-position: -385px -39px;
}

.sprite-dashboard-pin{
    width: 20px;
    height: 20px;
    background-position: -362px -4px;
}

.sprite-dashboard-pin-gray{
    width: 20px;
    height: 20px;
    background-position: -333px -4px;
}

.sprite-dashboard-mobile{
    width: 20px;
    height: 20px;
    background-position: -419px -3px;
}

.sprite-dashboard-user{
    width: 20px;
    height: 20px;
    background-position: -449px -3px;
}

.sprite-dashboard-settings{
    width: 20px;
    height: 20px;
    background-position: -391px -3px;
}

.sprite-dashboard-chat{
    width: 20px;
    height: 20px;
    background-position: -304px -3px;
}

.sprite-dashboard-slack{
    width: 20px;
    height: 20px;
    background-position: -300px -35px;
}

.sprite-dashboard-bb{
    width: 20px;
    height: 20px;
    background-position: -330px -35px;
}

.sprite-dashboard-github{
    width: 20px;
    height: 20px;
    background-position: -357px -35px;
}

.sprite-project-edit-row{
    width: 17px;
    height: 17px;
    background-position: -354px -14px;
}

.sprite-project-delete-row{
    width: 17px;
    height: 17px;
    background-position: -372px -14px;
}

.sprite-project-user{
    width:31px;
    height:30px;
    background-position: -397px -14px;
}

.sprite-project-smart-phones{
    width: 304px;
    height: 191px;
    background-position: -45px -0px;
}

.sprite-project-sharp{
    width: 12px;
    height: 10px;
    background-position: -353px -0px;
}

.sprite-project-plus{
    width: 10px;
    height: 10px;
    background-position: -365px -0px;
}


.sprite-project-help{
    width: 17px;
    height: 17px;
    background-position: -22px -0px;
}

.sprite-project-edit-gray{
    width: 18px;
    height: 22px;
    background-position: -0px -0px;
}

.sprite-project-lock{
    width: 10px;
    height: 13px;
    background-position: -355px -34px;
}

.sprite-project-pin{
    width: 13px;
    height: 13px;
    background-position: -376px -0px;
}

.sprite-project-pin-gray{
    width: 13px;
    height: 13px;
    background-position: -391px -0px;
}

.sprite-project-search{
    width: 18px;
    height: 18px;
    background-position: -353px -14px;
}

.sprite-project-track-bar-search_2{
    width: 24px;
    height: 24px;
    background-position: -355px -57px;
}

.sprite-project-options{
    width: 17px;
    height: 15px;
    background-position: -412px -58px;
}

.sprite-project-track-bar-search_1{
    width: 24px;
    height: 24px;
    background-position: -382px -57px;
}

.sprite-project-collapse{
    width: 24px;
    height: 24px;
    background-position: -370px -32px;
}

.sprite-project-msg-icon-1-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -85px;
}

.sprite-project-msg-icon-1-user{
    width: 17px;
    height: 17px;
    background-position: -378px -85px;
}

.sprite-project-msg-icon-2-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -102px;
}

.sprite-project-msg-icon-2-user{
    width: 17px;
    height: 17px;
    background-position: -378px -102px;
}

.sprite-project-msg-icon-3-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -119px;
}

.sprite-project-msg-icon-3-user{
    width: 17px;
    height: 17px;
    background-position: -378px -119px;
}

.sprite-project-msg-icon-4-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -137px;
}

.sprite-project-msg-icon-4-user{
    width: 17px;
    height: 17px;
    background-position: -378px -137px;
}


.sprite-project-msg-icon-5-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -154px;
}

.sprite-project-msg-icon-5-user{
    width: 17px;
    height: 17px;
    background-position: -378px -154px;
}

.sprite-project-msg-icon-6-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -171px;
}

.sprite-project-msg-icon-6-user{
    width: 17px;
    height: 17px;
    background-position: -378px -171px;
}

.sprite-project-msg-icon-7-dots{
    width: 17px;
    height: 17px;
    background-position: -354px -188px;
}

.sprite-project-msg-icon-7-user{
    width: 17px;
    height: 17px;
    background-position: -378px -188px;
}

.sprite-project-msg-icon-8-dots{
    width: 17px;
    height: 17px;
    background-position: -1px -24px;
}

.sprite-project-msg-icon-8-user{
    width: 17px;
    height: 17px;
    background-position: -24px -24px;
}

.sprite-project-attachment-new{
    width: 107px;
    height: 57px;
    background-position: -4px -197px;
}

.sprite-project-comment-user{
    width: 47px;
    height: 47px;
    background-position: -115px -202px;
}

.sprite-project-activity-bug{
    width: 22px;
    height: 22px;
    background-position: -169px -203px;
}

.sprite-project-activity-image{
    width: 23px;
    height: 21px;
    background-position: -196px -202px;
}

.sprite-project-activity-comment{
    width: 23px;
    height: 20px;
    background-position: -225px -202px;
}

.sprite-account-slack{
    width: 69px;
    height: 21px;
    background-position: -7px -31px;
}

.sprite-account-github{
    width: 21px;
    height: 20px;
    background-position: -32px -3px;
}

.sprite-account-hipchat{
    width: 90px;
    height: 21px;
    background-position: -63px -3px;
}

.sprite-account-cc{
    width: 42px;
    height: 32px;
    background-position: -92px -31px;
}

.sprite-account-action-plus{
    width: 18px;
    height: 18px;
    background-position: -5px -5px;
}

.sprite-account-google{
    width: 21px;
    height: 21px;
    background-position: -174px -4px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
    .sprite {
        background-image: url(../images/spritesheet@2x.png);
        background-size: 549px 332px;
    }

    .sprite-sidebar{
        background-image: url(../images/sprite-sidebar@2x.png);
        background-size: 38px 288px;
    }


    .sprite-dialogs {
        background-image: url(../images/spritesheet-dialogs@2x.png);
        background-size: 106px 53px;
    }

    .sprite-app{
        background-image: url(../images/spritesheet-apps@2x.png);
        background-size: 45px 15px;
    }

    .sprite-dashboard{
        background-image: url(../images/spritesheet-dashboard@2x.png);
        background-size: 466px 155px;
    }

    .sprite-project{
        background-image: url(../images/spritesheet-project@2x.png);
        background-size: 430px 320px;
    }

    .sprite-account{
        background-image: url(../images/spritesheet-account@2x.png);
        background-size: 227px 72px;
    }
}