.sprite {
    background: url(../images/spritesheet@2x.png) no-repeat;
    display: inline-block;
}

.sprite-apps {
    width: 60px;
    height: 60px;
    background-position: -5px -5px;
}

.sprite-arrow-down {
    width: 9px;
    height: 5px;
    background-position: -75px -5px;
}

.sprite-arrow-down-white {
    width: 9px;
    height: 5px;
    background-position: -94px -5px;
}

.sprite-bug {
    width: 40px;
    height: 41px;
    background-position: -113px -5px;
}

.sprite-chat {
    width: 41px;
    height: 37px;
    background-position: -163px -5px;
}

.sprite-close {
    width: 32px;
    height: 32px;
    background-position: -214px -5px;
}

.sprite-collapse-grey {
    width: 32px;
    height: 32px;
    background-position: -256px -5px;
}

.sprite-comment {
    width: 32px;
    height: 32px;
    background-position: -298px -5px;
}

.sprite-computer {
    width: 588px;
    height: 263px;
    background-position: -75px -56px;
}

.sprite-dash {
    width: 40px;
    height: 40px;
    background-position: -340px -5px;
}

.sprite-expand {
    width: 40px;
    height: 40px;
    background-position: -390px -5px;
}

.sprite-illu1 {
    width: 326px;
    height: 270px;
    background-position: -5px -329px;
}

.sprite-illu2 {
    width: 298px;
    height: 296px;
    background-position: -341px -329px;
}

.sprite-illu3 {
    width: 319px;
    height: 194px;
    background-position: -673px -5px;
}

.sprite-image {
    width: 32px;
    height: 32px;
    background-position: -440px -5px;
}

.sprite-image-grey {
    width: 32px;
    height: 32px;
    background-position: -482px -5px;
}

.sprite-logo {
    width: 74px;
    height: 86px;
    background-position: -673px -209px;
}

.sprite-move {
    width: 32px;
    height: 32px;
    background-position: -524px -5px;
}

.sprite-move-white {
    width: 32px;
    height: 32px;
    background-position: -566px -5px;
}

.sprite-plus {
    width: 16px;
    height: 16px;
    background-position: -608px -5px;
}

.sprite-plus-white {
    width: 16px;
    height: 16px;
    background-position: -634px -5px;
}

.sprite-sdk {
    width: 27px;
    height: 41px;
    background-position: -5px -209px;
}

.sprite-settings {
    width: 40px;
    height: 41px;
    background-position: -757px -209px;
}

.sprite-test {
    width: 39px;
    height: 37px;
    background-position: -807px -209px;
}

.sprite-user {
    width: 64px;
    height: 64px;
    background-position: -856px -209px;
}

.sprite-users {
    width: 40px;
    height: 39px;
    background-position: -930px -209px;
}

