html, body {
  padding-bottom: 22px; }

body {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  min-width: 236px;
  letter-spacing: -0.005em; }

.header {
  position: relative; }

.text-center {
  text-align: center; }

.text-center_v {
  display: flex;
  align-items: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.pg-16 {
  padding-right: 9px; }

.pg-16-left {
  padding-left: 9px; }

.pg-top-6 {
  padding-top: 4px; }

.pb-16 {
  padding-bottom: 9px; }

.mb-12 {
  padding-bottom: 7px; }

.mb-22 {
  margin-bottom: 12px; }

.mb-28 {
  margin-bottom: 16px; }

.mb-36 {
  margin-bottom: 16px; }

.mb-40 {
  margin-bottom: 22px; }

.mb-45 {
  margin-bottom: 25px; }

.mb-80 {
  margin-bottom: 44px; }

.mb-90 {
  margin-bottom: 49px; }

div.mb-clear.row {
  margin-bottom: 0; }

.row-hor {
  padding-top: 9px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  display: block; }

.content {
  margin-top: 32px;
  padding-top: 22px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e8eaef;
  background: #fff; }

.wrapper {
  padding: 0 26px 28px 26px; }
  .wrapper.wrapper-border-bt .pull-right {
    margin-top: -4px; }

.wrapper-border-bt {
  position: relative; }
  .wrapper-border-bt:after {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #e8eaef; }

.block.row {
  margin: 0 0 21px 0; }
.block.block-top.row {
  border-bottom: 1px solid #e8eaef; }
.block.block-top > .col-md-6, .block.block-top > .col-lg-5, .block.block-top > .col-lg-7 {
  padding: 0; }
  .block.block-top > .col-md-6:first-child, .block.block-top > .col-lg-5:first-child, .block.block-top > .col-lg-7:first-child {
    position: relative; }
    .block.block-top > .col-md-6:first-child:before, .block.block-top > .col-lg-5:first-child:before, .block.block-top > .col-lg-7:first-child:before {
      content: " ";
      position: absolute;
      right: 0px;
      top: -22px;
      bottom: 0;
      width: 1px;
      background-color: #e8eaef; }
.block.block-top > .col-lg-7:first-child:before {
  right: auto;
  left: 0; }
.block header {
  margin-bottom: 21px; }

div.panel-edit {
  padding: 5px 14px; }
  div.panel-edit .sprite-collapse-grey {
    margin-top: 4px; }

.navbar-page-nav .navbar-page {
  font-size: 13px; }
  .navbar-page-nav .navbar-page li.folding {
    padding-right: 12px; }
    .navbar-page-nav .navbar-page li.folding.autosave {
      padding-right: 30px; }
      .navbar-page-nav .navbar-page li.folding.autosave span {
        padding-right: 17px; }

.panel-darkly-brown .select.select-primary select {
  padding: 5px 65px 5px 20px; }

@media (max-width: 743px) {
  .block.block-top.row {
    border-bottom: none; }
  .block.block-top > .col-md-6:first-child:before, .block.block-top > .col-lg-5:first-child:before {
    display: none; }
  .block.block-top .wrapper {
    border-bottom: 1px solid #e8eaef;
    margin-bottom: 15px; }

  .mb-28 {
    margin-bottom: 10px; }

  .mb-36 {
    margin-bottom: 12px; }

  .mb-80 {
    margin-bottom: 33px; }

  .text-center_v {
    display: block; } }
@media (min-width: 576px) {
  .navbar-nav > li > a {
    padding: 0; } }

/*# sourceMappingURL=default.css.map */
