.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-apps {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-arrow-down {
    width: 5px;
    height: 3px;
    background-position: -47px -5px;
}

.sprite-arrow-down-white {
    width: 5px;
    height: 3px;
    background-position: -62px -5px;
}

.sprite-bug {
    width: 35px;
    height: 35px;
    background-position: -77px -5px;
}

.sprite-chat {
    width: 35px;
    height: 32px;
    background-position: -122px -5px;
}

.sprite-close {
    width: 17px;
    height: 17px;
    background-position: -167px -5px;
}

.sprite-collapse-grey {
    width: 17px;
    height: 17px;
    background-position: -194px -5px;
}

.sprite-comment {
    width: 17px;
    height: 17px;
    background-position: -221px -5px;
}

.sprite-computer {
    width: 312px;
    height: 139px;
    background-position: -5px -50px;
}

.sprite-dash {
    width: 32px;
    height: 32px;
    background-position: -248px -5px;
}

.sprite-expand {
    width: 32px;
    height: 32px;
    background-position: -290px -5px;
}

.sprite-illu1 {
    width: 173px;
    height: 143px;
    background-position: -5px -199px;
}

.sprite-illu2 {
    width: 158px;
    height: 157px;
    background-position: -188px -199px;
}

.sprite-illu3 {
    width: 169px;
    height: 103px;
    background-position: -332px -5px;
}

.sprite-image {
    width: 17px;
    height: 17px;
    background-position: -511px -5px;
}

.sprite-image-grey {
    width: 17px;
    height: 17px;
    background-position: -538px -5px;
}

.sprite-logo {
    width: 62px;
    height: 70px;
    background-position: -327px -118px;
}

.sprite-move {
    width: 17px;
    height: 17px;
    background-position: -511px -32px;
}

.sprite-move-white {
    width: 17px;
    height: 17px;
    background-position: -538px -32px;
}

.sprite-plus {
    width: 8px;
    height: 8px;
    background-position: -47px -32px;
}

.sprite-plus-white {
    width: 8px;
    height: 8px;
    background-position: -167px -32px;
}

.sprite-sdk {
    width: 24px;
    height: 36px;
    background-position: -511px -59px;
}

.sprite-settings {
    width: 34px;
    height: 35px;
    background-position: -511px -105px;
}

.sprite-test {
    width: 33px;
    height: 32px;
    background-position: -399px -150px;
}

.sprite-user {
    width: 34px;
    height: 34px;
    background-position: -442px -150px;
}

.sprite-users {
    width: 35px;
    height: 34px;
    background-position: -486px -150px;
}
