html, body {
  padding-bottom: 22px;
}


body {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  min-width: 236px;
  letter-spacing: -0.005em;
}

.header {
  position: relative;
}

.text-center {
  text-align: center;
}
.text-center_v {
  display: flex;
  align-items: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

.vertical-align-middle{
  vertical-align: middle;
}
.vertical-align-top{
  vertical-align: top;
}

.pg-16 {
  padding-right: 9px;
}
.pg-16-left {
  padding-left: 9px;
}

.pg-left-6 {
  padding-left: 4px;
}

.pg-0{
  padding:0!important;
}

.pg-top-6 {
  padding-top: 4px;
}

.pg-top-20 {
  padding-top: 20px;
}

.pb-16 {
  padding-bottom: 9px;
}

.no-margin {
  margin:0;
}


.mb-12 {
  padding-bottom: 7px;
}
.mb-22 {
  margin-bottom: 12px;
}
.mb-28 {
  margin-bottom: 16px;
}
.mb-36 {
  margin-bottom: 16px;
}
.mb-40 {
  margin-bottom: 22px;
}
.mb-45 {
  margin-bottom: 25px;
}
.mb-42 {
  margin-bottom: 42px;
}
.mb-80 {
  margin-bottom: 44px;
}
.mb-90 {
  margin-bottom: 49px;
}
div.mb-clear {
  &.row {
    margin-bottom: 0;
  }
}
.row-hor {
  padding-top: 9px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
.clearfix { display: block; }

.content {
  margin-top: 32px;
  padding-top: 22px;

  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
      border-radius: 3px;
  border: 1px solid $color-darkly_grey_1;
  background: $color-white;
}

.wrapper-small {
  padding: 26px;
}

section.wrapper{
    padding:44px 0;
    margin:0;
}

.wrapper-horizontal {
  padding: 0 18px;
}

.wrapper-full {
  padding: 20px;
}

.wrapper {
  padding: 0 26px 28px 26px;

  &.wrapper-border-bt {
    .pull-right {
      margin-top: -4px;
    }
  }
}

.wrapper-border-bt {
  position: relative;
  &:after {
    position: absolute;
    content: " ";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: $color-darkly_grey_1;
  }
}

.block {
  &.row {
    margin: 0 0 21px 0;
  }

  &.block-top {
    &.row {
      border-bottom: 1px solid $color-darkly_grey_1;
    }

    & > .col-md-6,
    & > .col-lg-5,
    & > .col-lg-7,
    & > .col-lg-9,
    & > .col-lg-3{
      padding: 0;

      &:first-child {
        position: relative;
        &:before {
          content: " ";
          position: absolute;
          right: 0px;
          top: -22px;
          bottom: 0;
          width: 1px;
          background-color: $color-darkly_grey_1;
        }
      }
    }
    & > .col-lg-7 {
      &:first-child {
        &:before {
          right: auto;
          left: 0;
        }
      }
    }
  }

  header {
    margin-bottom: 21px;
  }
}


div.panel-edit {
  padding: 5px 14px;

  .sprite-collapse-grey {
    margin-top: 4px;
  }
}

.navbar-page-nav {
  .navbar-page {
    font-size: 13px;
    li {
      &.folding {
        padding-right: 12px;

        &.autosave {
          padding-right: 30px;

          span {
            padding-right: 17px;
          }
        }
      }
    }
  }
}

.page3{
  .autosave{
    .checkbox-move-wr{
      position: relative;
      top:2px;
    }
  }
}

.panel-darkly-brown {
  .select {
    &.select-primary {
      select {
        padding: 5px 65px 5px 20px
      }
    }
  }
}


@media (max-width: 743px) {
  .block {
    &.block-top {
      &.row {
        border-bottom: none;
      }
      & > .col-md-6,
      & > .col-lg-5 {
        &:first-child {
          &:before {
            display: none;
          }
        }
      }

      .wrapper {
        border-bottom: 1px solid $color-darkly_grey_1;
        margin-bottom: 15px;
      }
    }
  }

  .mb-28 {
    margin-bottom: 10px;
  }

  .mb-36 {
    margin-bottom: 12px;
  }
  .mb-80 {
    margin-bottom: 33px;
  }

  .text-center_v {
    display: block;
  }
}

@media (min-width: 576px) {
  .navbar-nav>li>a {
    padding: 0;
  }
}
