@media (min-width: 992px) {

  .adaptive-paragraph{
    width:80%;
    margin-left:auto;
    margin-right:auto;
  }

  .dialogs-layout .box{
    width:414px;
    float:none;
  }
  .pg-16-left-md{
    padding-left: 9px;
  }

}

@media (max-width: 992px) {

  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar:vertical {
    width: 12px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }

  .block-center-sm {
    width: 100%;
    text-align: center;
  }
  .responsive-menu li {
    display: block;
    padding:0;
  }
  .margin-vertical-5-sm{
    margin:5px auto;
  }
  .float-none-sm{
    float:none!important;
  }

  .subscriptions-list{
    td{
      width:50%;
    }
  }

  .filters-panel{
    select, .select{
      width:100%!important;
    }
    .btn{
      margin-left: 0!important;
    }
  }

}

@media (max-width: 1170px) {
  .block-center-lg {
    width: 100%;
    text-align: center;
  }
  .margin-vertical-5-lg{
    margin:5px auto;
  }
  .margin-vertical-10-lg{
    margin:10px auto;
  }
}

@media (max-width: 1198px) {
  .dashboard-layout .project-toolbar > div {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .pull-right-md{
    float:right!important;
  }
}


@media (max-width: 768px) {

  .apps-layout{
    .uploader-image-panel{
      padding-left: 42px;
    }
  }

  .navbar-page-nav {
    .navbar-page {
      li {
        margin-top: 9px;
        margin-bottom: 0;
      }
    }
  }
  .dialogs-layout .box {
    width: 94%;
    margin: 0 3% !important;
  }
  .block-diagram {
    overflow: hidden;
    padding: 15px 10px !important;
    canvas {
      width: 100%;
    }
  }

  .block-center-xs {
    width: 100%!important;
    text-align: center;
  }

  .float-none-xs{
    float:none!important;
  }

  .block-static-xs {
    position: static !important;
  }
  .row-xs {
    margin-left: -15px;
    margin-right: -15px;
  }

  .comments {
    .comment-add-form, .comment-item {
      .avatar-wrapper {
        margin:10px auto!important;
      }
    }
  }

  .project4{
    .users-list{
      li{
        div{
          margin-left: 0!important;
          margin-right: 0!important;
          &.username{
          &::after{
            display: none;
          }
        }
        }
      }
    }

  }

  .project6{
    margin-left: 0!important;
  }

}

@media (max-width: 375px){
  .dialogs-layout .box button .sprite-dialogs-git,.dialogs-layout .box button .sprite-dialogs-bit{
    left: 1.5vw;
  }
}


@media (max-width: 320px) {

  .block-center-xs-small {
    width: 100%!important;
    text-align: center;
  }

  .no-margin-xs-small{
    margin:0!important;
  }

  .mb-12-xs-small{
    margin-bottom: 12px!important;
  }

  .project-layout .project6 .activities .activity-item-header{
    text-align: center;
  }



  .project2 .mobile-sdk-img{
    width:90%;
    background-size: contain;
  }
  .sprite.sprite-computer{
    position: relative;
    left: -30px;
  }

}

@media (-webkit-min-device-pixel-ratio: 2) {
  .dialogs-layout .box ul {
    [type="checkbox"]:checked + label:after {
      background-image: url(../images/spritesheet-dialogs@2x.png);
      background-size:106px 53px;
    }
  }
}


@media (max-width: 1199px) and (min-width: 992px) {
  .block-center-md {
    text-align: center;
  }

  .attachment-item{
    margin-bottom:10px;
  }
  .bug-tracker-content{
    .bug-details td {
      font-size:11px;
    }

    .margin-vertical-md-10{
      margin:10px auto;
    }
  }
}

@media (max-width: 1590px) and (min-width: 1192px) {
  .message-item{
    .col-lg-10{
      width:75%!important;
    }
    .col-lg-2{
      width:25%!important;
    }
  }

  .dashboard-layout .user-dashboard-project .panel-project .block-diagram{
    padding:15px;
  }
}

@media (max-width: 1360px) and (min-width: 1192px) {
  .block-center-1280{
    width: 100%!important;
    text-align: center;
  }
  .block-offset-none-1280{
    margin-left:0!important;
  }
  .margin-vertical-5-1280{
    margin:5px auto;
  }
  .overflow-x-hidden-1280{
    overflow-x: hidden;
  }
}

@media (max-width: 1500px) and (min-width: 992px) {
 .bug-tracker-bar .bug-tracker-select-box{
   > div{
     width:50%;
   }
 }
}

@media (max-width: 1800px) and (min-width: 992px) {
  .bug-tracker-bar .filters-panel .toolbar-panel{
    .toolbar-panel-cell{
      width:100%!important;
    }
  }
}

@media (min-width:1199px){
  .block-diagram{
    min-height: 250px;
  }

  .block.block-top.row{
    &.bug-tracker-content{
      > .col-lg-3{
        width:30%;
      }
      > .col-lg-9{
        width:70%;
      }
    }
  }
}