@media (min-width: 992px) {
  .dialogs-layout .box {
    width: 414px;
    float: none; }

  .pg-16-left-md {
    padding-left: 9px; } }
@media (max-width: 992px) {
  .block-center-sm {
    width: 100%;
    text-align: center; }

  .margin-vertical-5-sm {
    margin: 5px auto; }

  .subscriptions-list td {
    width: 50%; }

  .filters-panel select, .filters-panel .select {
    width: 100% !important; }
  .filters-panel .btn {
    margin-left: 0 !important; } }
@media (max-width: 1170px) {
  .block-center-lg {
    width: 100%;
    text-align: center; }

  .margin-vertical-5-lg {
    margin: 5px auto; } }
@media (min-width: 992px) {
  .pull-right-md {
    float: right !important; } }
@media (max-width: 767px) {
  .dialogs-layout .box {
    width: 94%;
    margin: 0 3% !important; }

  .block-diagram {
    overflow: hidden;
    padding: 15px 10px !important; }
    .block-diagram canvas {
      width: 100%; }

  .block-center-xs {
    width: 100%;
    text-align: center; }

  .float-none-xs {
    float: none !important; }

  .block-static-xs {
    position: static !important; }

  .row-xs {
    margin-left: -15px;
    margin-right: -15px; }

  .comments .comment-add-form .avatar-wrapper, .comments .comment-item .avatar-wrapper {
    margin: 10px auto !important; }
  .comments .comment-add-form .comment-attachments > div, .comments .comment-item .comment-attachments > div {
    margin-bottom: 10px; }

  .project4 .users-list li div {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .project4 .users-list li div.username::after {
      display: none; }

  .project6 {
    margin-left: 0 !important; } }
@media (max-width: 320px) {
  .dialogs-layout .box .box-content .organization-group input {
    width: 95px; }

  .dialogs-layout .box button .sprite-dialogs-git {
    left: 5px; } }
@media (-webkit-min-device-pixel-ratio: 2) {
  .dialogs-layout .box ul [type="checkbox"]:checked + label:after {
    background-image: url(../images/spritesheet-dialogs@2x.png);
    background-size: 106px 53px; } }

/*# sourceMappingURL=mobile.css.map */
