/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #00b4ff;
$color-grey: #d0d4da;
$color-green: #00bb27;
$color-violet: #2b333f;
$color-violet-bg: rgba(43, 51, 63, .8);

$color-light_white: #fdfdfe;
$color-light_white_2: #fbfefc;
$color-light_blue: #e5f6ff;
$color-light_blue_2: #f2fbff;
$color-light_green: #b4daaf;
$color-light_green_2: #4ec861;
$color-light_green_3: #c2f5d6;
$color-light_green_5: #91ddaf;

$color-light_green_4: #f2fcf4;
$color-light_red: #e48275;
$color-light_red_2 : #ef665a;
$color-light_brown: #8090a2;
$color-light_brown_2: #7f8fa3;
$color-purple: #7975a2;
$color-light_purple: #a88596;
$color-pink: #e8abc7;
$color-lime: #4fc9ae;
$color-lime_2: #b6d356;


$color-darkly_white: #f1f4f8;
$color-darkly_white2: #eceef2;
$color-darkly_grey: #c3ccd6;
$color-darkly_grey_1: #e8eaef;
$color-darkly_grey_2: #f8f9fb;
$color-darkly_grey_3: #98a5b5;
$color-darkly_grey_4: #d8dce1;

$color-darkly_brown: #5f6774;
$color-darkly_violet: #222933;
$color-silver_blue: #8393a8;

$color-indicator-bg: #00a8ff;
$color-validation_error: #ee665a;

$font-proxima-nova: 'ProximaNova', serif;
$font-proxima-nova-bold: 'ProximaNovaBold', serif;
$font-lato-web: 'LatoWeb', serif;
$font-lato-web-medium: 'LatoWebMedium', serif;
$font-lato-web-semibold: 'LatoWebSemibold', serif;

$font-lato-web-bold: 'LatoWebBold', serif;
$font-lato-web-italic: 'LatoWebItalic';

@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}


@mixin transform($args) {
  -webkit-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}


@mixin transition($args){
  -webkit-transition: $args;
  -o-transition: $args;
  transition: $args;
}
